In [ ]:
!pip install palmerpenguins

Collecting palmerpenguins
  Downloading palmerpenguins-0.1.4-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from palmerpenguins) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from palmerpenguins) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->palmerpenguins) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->palmerpenguins) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->palmerpenguins) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->palmerpenguins) (1.17.0)
Downloading palmerpenguins-0.1.4-py3-none-any.whl (17 kB)
Installing collected packages: palmerpenguins
Successfully installed palmerpenguins-0.1.4

In [ ]:
import numpy as np
import pandas as pd
from sys import exit
from palmerpenguins import load_penguins
from plotnine import ggplot, aes, geom_point, geom_bar

1. Fill in the necessary code to write a function called `times_seven()`. The function should take a single argument (`x`) and multiply the input by 7.
  + This function should check that the argument is numeric.
  + This function should also excitedly announce (print) *“I love sevens!”* if the argument to the function is a 7.

In [ ]:
def times_seven(x):
  """
  Multiplies the input by 7 and checks if it's a numeric variable

  Parameter
  ---------
  x : numeric variable

   Returns
  -------
    The input multiplied by 7 if numeric, otherwise exits.
  """
  if isinstance(x, (int, float)):
      if x == 7:
          print("I love sevens!")
          return x * 7
      else:
          return x * 7
  elif isinstance(x, (list, tuple)):
      if all(isinstance(item, (int, float)) for item in x):
          return [item * 7 for item in x]
      else:
          exit("Please provide numeric variables")
  else:
      exit("Please provide a numeric variable or a list/tuple of numeric variables")

2. Write and run some *unit tests* for your `times_seven` function.  What happens if the input to the function is `[1, 3, 5, 7]`?

In [ ]:
x = [1, 3, 5, 7]
result = times_seven(x)
print(result)

[7, 21, 35, 49]

In [ ]:
x = 1
result_1 = times_seven(x)
print(result_1)

7

In [ ]:
x = 3
result_2 = times_seven(x)
print(result_2)

21

In [ ]:
x = 5
result_3 = times_seven(x)
print(result_3)

35

In [ ]:
x = 7
result_4 = times_seven(x)
print(result_4)

I love sevens!
49

In [ ]:
help(times_seven)

Help on function times_seven in module __main__:

times_seven(x)
    Multiplies the input by 7 and checks if it's a numeric variable

    Parameter
    ---------
    x : numeric variable

     Returns
    -------
      The input multiplied by 7 if numeric, otherwise exits.

3. Consider the following function:

In [ ]:
#typo in this: return statement was originally indented so inside the "else"

def add_or_subtract(first_num, second_num = 2, type = "add"):

  if (type == "add"):
    res = first_num + second_num
  elif (type == "subtract"):
    res = first_num - second_num
  else:
    exit("Please choose `add` or `subtract` as the type.")

  return res

**Without running the code**, predict if the following will produce:

a. 1

b. -1

c. 30

d. An error defined by the function `add_or_subtract()`

e. An error defined in a different function, which is called inside the `add_or_subtract()` function

In [ ]:
add_or_subtract(5, 6, type = "subtract")

add_or_subtract("orange")

add_or_subtract(5, 6, type = "multiply")

1. The first one will most likely produce -1, because it will perform the function (5-6) = -1. (B)
2. The second will be an error because it can't add "orange" because it's not a number. This would be (E) because it's an TypeError, not a problem with the function
3. This would be (C), because it it an error with the functin because they said multiply, and the function either needs to choose add or subtract, not multiply.

4. Consider the following code:

In [ ]:
first_num  = 5
second_num = 3

result = 8

result = add_or_subtract(first_num, second_num = 4)

result_2 = add_or_subtract(first_num)

In [ ]:
result = add_or_subtract(first_num, second_num = 4)
result

9

In [ ]:
result_2 = add_or_subtract(first_num)
result_2

7


In your Global Environment, what is the value of...

a. `first_num`

b. `second_num`

c. `result`

d. `result_2`

a. first_num: 5     
b. second_num: 3     
c. result: 9     
d. result_2: 7